/* 
    RMIT University Vietnam
    Course: COSC2430 Web Programming
    Semester: 2023A
    Assessment: Assignment 1
    Author: Truong Quang Bao Loc
    ID: s3965528
    Acknowledgement: Acknowledge the resources that you use here.
     */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --brown: #A9907E;
    --ghi  : #F3DEBA;
    --green:   #ABC4AA;
    --dark-brown: #675D50;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--ghi);
}
html {
    background-color: var(--ghi);
}
.homepage-container {
    max-width: 1600px;
    margin: 0 auto;
}
.homepage-content {
    height: 100px;
    background-color: var(--dark-brown);
}
.navigation {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100px;
}
.on-off {
    display: none;
}
.navigation .left img {
    margin-top: 8px;
    height: 100px;
}   
.navigation .left:hover img {
    background: url('../image/homepage/butterfly.png');
    height: 100px;
    background-size: cover;
    transition: 1s;
}
/* breadcrumb */
.breadcrumb {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Rokkitt",serif;
}
.breadcrumb .breadcrumb-content {
    color: var(--dark-brown);
    font-size: 24px;
}
.breadcrumb .breadcrumb-content:nth-child(2),
.breadcrumb .breadcrumb-content:nth-child(4) {
    margin: 0 10px;
    margin-top: 5px;
}
.breadcrumb .breadcrumb-content:nth-child(1),
.breadcrumb .breadcrumb-content:nth-child(3) {
    padding: 5px 10px;
    border-radius: 10px;
}
.breadcrumb .breadcrumb-content:nth-child(1):hover,
.breadcrumb .breadcrumb-content:nth-child(3):hover {
    background-color: rgb(169, 144, 126,0.6);
    transition: all 0.5s ease;
}   


/* form */
.form-container {
    margin-left: 35%;
    max-width: 30%;
    border-radius: 10px;
    background-color: var(--green);
    font-family: 'Rokkitt',serif;
}

form h1 {
    display: flex;
    justify-content: center;
}
form input {
    padding: 5px;
}
form .purpose-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
form .name-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
form .email-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
form .phone-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
form .contact-pre {
    padding: 10px;
}
form .contact-pre p {
    margin-right: 5px;
}
form .contact-pre label {
    margin-right: 5px;
}
form .newletter {
    padding: 10px;
}
.bio {
    padding: 10px;
}
.bio  textarea {
    display: block;
    width: 100%;
}
form .button-box {
    padding: 10px;
}
form .button-box button {
    padding: 5px;
    border-radius: 5px;
    background-color: crimson;
    color: aliceblue;
    cursor: pointer;
}
form .button-box .reset {
    background-color: aliceblue;
    color: black;
}
form .button-box .reset:hover {
    color: white;
    background-color: black;
}
form .button-box .submit:hover {
    opacity: 0.8;
    color: black;
}
/* footer */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-brown);
    height: 150px;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    font-family: 'Rokkitt',serif;
    flex-direction: column;
    align-items: center;
}

.footer-content .link ul {
    display: flex;
}
.footer-content .link ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 24px;
    color: var(--dark-brown);
    background-color: var(--ghi);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.footer-content .infor ul {
    display: flex;
}
.footer-content .infor ul li {
    margin: 10px;
    font-size: 20px;
    color: var(--ghi);
}
.footer-content ul li a {
    color: var(--ghi);
}
.footer-container .line {
    width: 0px;
    background-color: var(--ghi);
    height: 2px;
}
.footer-content ul li:nth-child(1):hover .line {
    width: 80px;
    transition: 1s;
}
.footer-content ul li:nth-child(2):hover .line {
    width: 115px;
    transition: 1s;
}
.footer-content ul li:nth-child(3):hover .line {
    width: 55px;
    transition: 1s;
}
.footer-content ul li:nth-child(4):hover .line {
    width: 83px;
    transition: 1s;
}
.footer-content ul li:nth-child(5):hover .line {
    width: 94px;
    transition: ease-in 0.3s;
}
/* responsive */
/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .form-container {
        max-width: 50%;
        margin-left: 25%;
    }
}
/* mobile */
@media screen and (max-width: 767px) {
    .form-container {
        margin-top: 10px;
        max-width: 100%;
        margin-left: 0px;
    }
    /* footer */
    .footer-content .infor ul li  {
        margin: 5px;
    }
    .footer-content ul li a {
        font-size: 14px;
    }
    .footer-content ul li:nth-child(1):hover .line {
        width: 55px;
        transition: 1s;
    }
    .footer-content ul li:nth-child(2):hover .line {
        width: 80px;
        transition: 1s;
    }
    .footer-content ul li:nth-child(3):hover .line {
        width: 37px;
        transition: 1s;
    }
    .footer-content ul li:nth-child(4):hover .line {
        width: 59px;
        transition: 1s;
    }
    .footer-content ul li:nth-child(5):hover .line {
        width: 66px;
        transition: ease-in 0.3s;
    }
}